<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> BookHaven - <%= title %>  </title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="styles/global.css">
   <link rel="stylesheet" href="styles/bookPage.css">
   <script>
      const savedTheme = localStorage.getItem('theme') || 'light-mode';
      document.documentElement.classList.add(savedTheme);
      document.documentElement.classList.add('no-transition')
 </script>
</head>
<body>
   <%- include('partials/header') %>
   
   <main>
      <section class="book-info">
         <img src="assets/images/placeholder.png" alt="Book Cover"/>
         <div>
            <h1 class="title"> Test </h1>
            <h3 class="author"> by Test </h3>
            <p class="desc"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic tempora quas tenetur? Repellendus blanditiis itaque incidunt, quae consequatur a. Officia aspernatur hic ullam suscipit pariatur qui minus porro excepturi deserunt? </p>
            <div>
               <p class="price"> $29.99 </p>
               <div class="stars" id="reviews-btn">
                  <div class="stars-inner" style="width: 90%;">
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                  </div>
                  <div class="stars-outer">
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                     <img src="assets/svg/star.svg" alt="Star Icon"/>
                  </div>
               </div>
               <p class="rating-text"> (4.5 / 5) </p>
            </div>
            <div class="buttons">
               <div class="quantity">
                  <button id="quantity-decrease"> - </button>
                  <p id="quantity"> 1 </p>
                  <button id="quantity-increase"> + </button>
               </div>
               <button class="button-primary "> Add to Cart </button>
               <button class="button-primary"> Add to Wishlist </button>
            </div>
         </div>

      </section>

      <section class="related-books">
         <h2> Related Books </h2>
         <div>
            <%- include('partials/bookCard-related', { book: {
               cover: 'assets/images/placeholder.png',
               title: 'Test tes test',
               author: 'Test Test',
            }}) %>
            <%- include('partials/bookCard-related', { book: {
               cover: 'assets/images/placeholder.png',
               title: 'Test tes test',
               author: 'Test Test',
            }}) %>
            <%- include('partials/bookCard-related', { book: {
               cover: 'assets/images/placeholder.png',
               title: 'Test tes test',
               author: 'Test Test',
            }}) %>
         </div>
      </section>

      <section class="reviews">
         <div class="reviews-container">
            <button class="review-close"> 
               <img src="assets/svg/close.svg" alt="close icon" /> 
            </button>
            <h2> Leave a review </h2>
            <form class="review-form" action="/review" method="POST">
               <div class="review-input">
                  <label> Write your review here (optional) </label>
                  <textarea></textarea>
               </div>
               <div class="review-rating">
                  <div class="stars">
                     <div class="stars-inner" id="review-stars-inner" style="width: 0%">
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                     </div>
                     <div class="stars-outer" id="review-stars">
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                        <img src="assets/svg/star.svg" alt="Star Icon"/>
                     </div>
                  </div>
                  <button class="button-primary"> Submit </button>
               </div>
            </form>
            <h2> Reviews </h2>
            <div class="reviews-list">
               <%- include('partials/userReview', { review: {
                  user: {
                     avatar: 'assets/images/placeholder.png',
                     username: 'User Name'
                  },
                  rating: 100,
                  timeAgo: 'Week ago',
                  text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod at ea voluptate numquam laborum eius velit cum inventore nesciunt. Mollitia voluptatum quasi doloribus libero, eligendi accusantium alias voluptate saepe sapiente?'
               }}) %>
               <%- include('partials/userReview', { review: {
                  user: {
                     avatar: 'assets/images/placeholder.png',
                     username: 'User Name'
                  },
                  rating: 40,
                  timeAgo: 'Week ago',
                  text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod at ea voluptate numquam laborum eius velit cum inventore nesciunt. Mollitia voluptatum quasi doloribus libero, eligendi accusantium alias voluptate saepe sapiente?'
               }}) %>
               <%- include('partials/userReview', { review: {
                  user: {
                     avatar: 'assets/images/placeholder.png',
                     username: 'User Name'
                  },
                  rating: 60,
                  timeAgo: 'Week ago',
                  text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod at ea voluptate numquam laborum eius velit cum inventore nesciunt. Mollitia voluptatum quasi doloribus libero, eligendi accusantium alias voluptate saepe sapiente?'
               }}) %>
               
               <div class="user-review last-review">
                  <img src="assets/images/placeholder.png" alt="User Avatar"/>
                  <div>
                     <p class="username"> User Name </p>
                     <div>
                        <div class="stars">
                           <div class="stars-inner" style="width: 50%;">
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                           </div>
                           <div class="stars-outer">
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                              <img src="assets/svg/star.svg" alt="Star Icon"/>
                           </div>
                        </div>
                        <p> Week ago </p>
                     </div>
                     <p class="review-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod at ea voluptate numquam laborum eius velit cum inventore nesciunt. Mollitia voluptatum quasi doloribus libero, eligendi accusantium alias voluptate saepe sapiente?</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>
   
   <%- include('partials/footer') %>
   <script src="/scripts/bookPage.js"></script>
   <script src="/scripts/theme-toggle.js"></script>
   <script>
      document.documentElement.classList.remove('no-transition');
   </script>
</body>
</html>