<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> BookHaven - <%= title %>  </title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="styles/global.css">
   <link rel="stylesheet" href="styles/cartPage.css">
   <link rel="stylesheet" href="styles/wishlistPage.css">
   <script>
      const savedTheme = localStorage.getItem('theme') || 'light-mode';
      document.documentElement.classList.add(savedTheme);
      document.documentElement.classList.add('no-transition')
 </script>
</head>
<body>
   <%- include('partials/header') %>
   <main>
      <section class="cart">
         <h1> Wishlist </h1>
         <div class="cart-header">
            <p> Cover </p>
            <p> Product </p>
            <p> Pages </p>
            <p> Quantity </p>
            <p> Price </p>
            <p> </p>
         </div>
         <div class="cart-items">
            <% if(wishlistItems) { %>
               <% wishlistItems?.forEach(item => { %>
                  <%- include('partials/cartItem', { book: item.book, quantity: item.quantity }) %>
               <% }) %>
            <% } else { %>
               <p> Your wishlist is empty </p>
            <% } %>
         </div>
      </section>
      <section class="shipping-info">
         <h1> Wishlist Total </h1>
         <div class="cart-total">
            <div>
               <p> Subtotal: </p>
               <p id="subtotal"> $<%= subtotal.toFixed(2) %> </p>
            </div>
            <div>
               <p> Discounts: </p>
               <p id="discount"> -$<%= discount.toFixed(2) %> </p>
            </div>
            <div>
               <p> Shipping: </p>
               <p> $5.00 </p>
            </div>
            <div>
               <p> Total: </p>
               <p id="total"> $<%= total.toFixed(2) %> </p>
            </div>
         </div>  
         <button class="button-primary clear" id="clear-wishlist"> Clear wishlist </button>
         <button class="button-primary" id="add-to-cart"> Add to cart all </button>
      </section>
   </main>
   
   <%- include('partials/notifications') %>
   <%- include('partials/footer') %>
   <script src="/scripts/wishlistPage.js"></script>
   <script src="/scripts/theme-toggle.js"></script>
   <script>
      document.documentElement.classList.remove('no-transition');
   </script>
</body>
</html>